<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=59a8be9dde46feedbf5ddf312b01d3ba&libraries=services,clusterer,drawing"></script>
    <title>Document</title>
</head>
<body>
<div id="map" style="width: 1179px;height:2556px;"></div>

<script>
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div를 선택합니다
            mapOption = {
                center: new kakao.maps.LatLng(37.6255427648558, 127.073033585328), // '공릉역 7호선' 좌표
                level: 3 // 지도의 확대 레벨
            };

        //지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();

        // 카테고리로 장소를 검색합니다
            ps.keywordSearch('병원', placesSearchCB, {
            location: new kakao.maps.LatLng(37.6255427648558, 127.073033585328)
        });

        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB (data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                for (var i=0; i<data.length; i++) {
                    displayMarker(data[i]);
                }
            }
        }

        // 지도 상에 대기자 수 마커를 추가하는 함수 입니다
        function displayMarker(place){
            console.log(place.y, place.x);
            const images = ["1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "9+.png"];
            const chosenImage = images[Math.floor(Math.random() * images.length)];

            var imageSrc = '../img/'+ chosenImage; // 대기자 수 마커의 경로
            var imageSize = new kakao.maps.Size(32, 32); // 대기자 수 마커의 크기
            var imgMarkerImage = new kakao.maps.MarkerImage(imageSrc, imageSize)

            //대기자 수 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x),
                image: imgMarkerImage
            });

            // 마커에 클릭이벤트를 등록합니다, 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            kakao.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                infowindow.open(map, marker);
        });
    }
        // 현재 위치를 나타내는 마커의 정보입니다.
        var imageSrc = 'https://cdn-icons-png.flaticon.com/128/1177/1177568.png',
            imageSize = new kakao.maps.Size(32, 32);
        var imgMarkerImage = new kakao.maps.MarkerImage(imageSrc, imageSize)

        var imgMarkerPosition = new kakao.maps.LatLng(37.6255427648558, 127.073033585328); // 마커가 표시될 위치입니다

        // 마커를 생성합니다
        var imgMarker = new kakao.maps.Marker({
            position: imgMarkerPosition,
            image: imgMarkerImage
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        imgMarker.setMap(map);
    </script>
</body>
</html>